[2013-07-11 17:36] markrosoft opened #4 "Controller perpetually sending data,"
The current joystick script is constantly sending data to the eye, in an attempt to emulate the closed eyed nature of sleeping whilst charging I found the thing demoniacally blinked

[2013-07-11 21:22] cdondrup commented on #4
That's absolutely right. The driver for the joystick continuously publishes the current state of the joystick and thereby triggers the callback of the teleop node a few times a second. It would be good to just save the last message the teleop received and only send data when the next message is different (which should be fairly easy) and ideally it should just publish on those topics that are asso

[2013-07-11 23:27] cburbridge commented on #4
I think that at lincoln last week, @hawesie was of the opinion that the head teleop was better in multiple separate nodes?

[2013-07-12 08:03] cdondrup commented on #4
That's true the easiest thing to do would just start the base teleop control without the head and eyes. But always starting several nodes separately is not that convenient to me. But I might be convinced of its benefits.

[2013-07-12 09:08] marc-hanheide commented on #4
I'd agree with Nick that having it as separate nodes makes sense as long as there are convenient launch files to start it all at once. Basically. I think the joystick base control should be a de-facto default to run on the robot, because it offer the emergency stop service. The other nodes (head and eye) are more specific, I'd say. But I'd agree to merge head and eye control into one.

[2013-07-12 10:34] cdondrup commented on #4
Sounds reasonable to me.

[2013-07-12 10:50] hawesie commented on #4
And to me. I can easily imagine us replacing head/eye control with an autonomous system, but the joystick is essential.

[2013-07-14 17:09] hawesie opened #5 "Safe teleop"
It would be great to have a teleop node that does safe movement, ie while avoiding obstacles. This is essential for reliable web control at least.

[2013-07-14 19:18] marc-hanheide commented on #5
Is there an easy way to combine velocity control (what the joystick does) with obstacle avoidance using position control (what move_base provides)? Of course, one could set local position goals ("carrots") using the joystick. But I know form experience that this shouldn't happen at higher frequencies (e.g. >1Hz), because then move_base freezes up.

[2013-07-14 19:25] hawesie commented on #5
Could we also do something simpler, e.g. passing the joystick velocity through some function based on sensor reading so it becomes "harder" to push the robot into obstacles? Add in an auto stop based on the sensors too, and this might do it.

[2013-07-14 19:32] marc-hanheide commented on #5
Sure, we could simply use some potential field approach with vectors pointing away from obstacles (limited range, vector's magnitudes should be reciprocal to distance of obstacle.) and integrate them with the velocity vector obtained from the joystick. That would usually make no difference, but only in the presences of obstacles the robot would be "guided away"...

[2013-07-14 19:49] kunzel commented on #5
I know that the Bosch group was working on shared autonomy during the PR2 Beta program. Maybe they have some results/code in that direction. I'll try to find out. I also found this after a quick google search: http://ros.org/wiki/cob_collision_velocity_filter

[2013-07-14 19:55] marc-hanheide commented on #5
That looks very much like something we'd need, indeed... although it only
seems to slow down and not actively navigate around. But for safety that's
enough.

On 14 July 2013 20:49, Lars Kunze notifications@github.com wrote:

##

---

Dr. Marc Hanheide
Senior Lecturer in Computer Science
University of Lincoln
Brayford Pool
Lincoln, LN6 7TS
Phone: +44 1522 88 6966
EMail: marc@hanheide.net
Web: http:

[2013-07-14 20:05] hawesie commented on #5
Yeah, that looks cool.

[2013-07-16 20:02] kunzel commented on #5
Meanwhile, I also received an answer from the Bosch guys. They have also a package that might help: http://sourceforge.net/p/bosch-ros-pkg/code/1685/tree/trunk/stacks/bosch_shared_autonomy/safe_teleop_base/

[2013-07-17 20:43] hawesie commented on #5
Is there any documentation for the Bosch node? @marc-hanheide can one of your interns test these?

[2013-07-17 20:54] marc-hanheide commented on #5
They are quite busy with other stuff this week. Don't expect anything soon.
If anybody else has got some time to try it, please go ahead and tell here.
On 17 Jul 2013 21:44, "Nick Hawes" notifications@github.com wrote:

[2013-07-23 10:41] hawesie opened #10 "Add app for visual-guided docking and undocking on charging station"

[2013-07-30 10:18] marc-hanheide opened #14 "implement actionlib server for docking"

[2013-07-31 06:21] kunzel opened #15 "charger_status vs. battery_state"
Hi @gestom,

I am trying to the the autonomous docking working in MORSE. However, I don't have a charger_status topic there. Given that the battery status (scitos_msgs/BatteryState) of the robot itself also provides a _charging_ flag. Could we use this instead?

thanks,
Lars

[2013-07-31 08:45] kunzel opened #16 "Segment detection during calibration"
@gestom , I enabled the debug flag in the CCircleDetect.cpp. Can you see anything in this output (https://gist.github.com/kunzel/6120375) that gives me a clue whether the circles are detected or not?

Btw the /charging/processedimage looks pretty corrupted. The format of the Image from MORSE is like this:
[..]
The data captured by the camera, stored as a Python Buffer \
            class  object.

[2013-07-31 09:19] gestom commented on #16
Hi Lars,

the problem is that detection is expecting the image to be in RGB format with size cam_width_cam_height_3.

Tom

[2013-07-31 09:20] gestom commented on #15
Hi Lars,
OK.
Tom

[2013-07-31 09:42] gestom commented on #16
If the image gets segmented OK, you should get something like this:
![robotstation](https://f.cloud.github.com/assets/4293593/884954/b7de608a-f9c3-11e2-80db-34f6652ea326.jpg)
I will improve the code to take into account the RGBA image format.

Tom

[2013-07-31 10:58] gestom commented on #16
I have modified the image processing to work on monochromatic image and the success of the docking is evaluated based on the battery_state topic now.

Therefore, the docking should be compatible with simulation.

[2013-07-31 11:13] kunzel commented on #16
Great, thanks. I was just able to switch the image provided by the simulation from RGBA to RGB. A color image should in principle be fine.

[2013-07-31 12:44] #15 closed, assigned to gestom

[2013-07-31 12:44] #16 closed, assigned to gestom

[2013-07-31 12:44] #10 closed, assigned to gestom

[2013-07-31 14:30] kunzel opened #17 "Sending an explict stop command /cmd_vel"
@gestom, Would it be possible to send an explicit stop command to the robot, whenever it believes it is at the goal in both behaviors undock and charge. Otherwise, the simulated robot would continuously move on as he didn't receive any update on /cmd_vel? It seems to be a design decision, see also here: http://answers.ros.org/question/67148/cmd_vel-robot-keeps-moving/

[2013-07-31 22:15] kunzel opened #18 "Image size from msg"
@gestom, would it be possible to take the image size from the image messages? Or at least make it configurable from the launch file? Currently I cannot get 640_480 images from the simulation. But 320_240 worked for me when I recompiled your code.

[2013-08-01 09:46] gestom commented on #18
Hi Lars,
OK, will do. However, since different image dimensions mean different camera intrinsic params,  I will have to change the code a bit.
Tom

[2013-08-03 14:21] #17 closed, assigned to nobody

[2013-08-03 14:21] #18 closed, assigned to nobody

[2013-08-06 15:40] cdondrup commented on #4
Closed a long time ago via pull request mentioned above.

[2013-08-06 15:40] #4 closed, assigned to cdondrup

[2013-08-06 16:19] cdondrup opened #21 "docking does not build because of missing action header"
I just updated and when trying to build I get:

[code]

and

[code]

So it seems that the message headers are not generated before trying to build the lib and binary mentioned. This would not surprise me in the case of CChargingClient because it does not define the dependencies the right way. But I don't really get the first error, because the definitions in the CMakeLists.txt seem to be right:

[

[2013-08-06 16:44] gestom commented on #21
Resolved by updating CMakeLists

[2013-08-07 07:37] cdondrup commented on #21
You're right. 2204a03cbfd1d642e12a8e7b801a446ae69b432e seems to fix the problem. Works fine for me now.

[2013-08-07 07:37] #21 closed, assigned to nobody

[2013-08-09 14:23] cburbridge opened #23 "dashboard freerun"
Sometimes the freerun button needs pressing twice before the robot goes into freerun.

[2013-08-09 14:29] cburbridge opened #24 "[scitos_docking] parameters could be stored in strands_datacentre"
@gestom The parameters for the docking could be stored using the strands_datacentre / config_manager.

[2013-08-13 09:07] hawesie commented on #14
Solved now? @cburbridge

[2013-08-13 13:08] cburbridge commented on #14
Yes, this is works. Thanks @gestom

[2013-08-13 13:08] #14 closed, assigned to gestom

[2013-08-13 13:22] Jailander commented on #24
I am looking into this

[2013-08-21 12:54] hawesie opened #26 "[scitos_teleop] js parameter to launch file is ignored"
If I launch the teleop node following [the instructions](https://github.com/strands-project/autonomous_patrolling/blob/master/README.md) it appears that the js parameter is ignored. E.g.

[code]

However, setting the associated environment variable does work

[code]

Am I doing something wrong or is there a bug in the parameter handling?

[2013-08-21 13:03] cdondrup commented on #26
This is a bug. Will fix.

[2013-08-21 13:24] cdondrup commented on #26
Works as intended now.
Closing #26 via #27

[2013-08-21 13:24] #26 closed, assigned to cdondrup

[2013-09-12 11:41] nilsbore opened #30 "Visual docking dependencies not agreeing with ros"
We're trying to get the visual docking working but are getting some problems with the dependencies. liblas-dev is dependent on libcurl4-gnutls-dev. But that package and libcurl4-openssl-dev seems to be mutually exclusive, they can't be installed together because the .so files are named the same. The problem is that the latter is a dependency of ros groovy. This means that there will be a conflict

[2013-09-13 19:01] marc-hanheide commented on #30
Weird, never had that problem. Was all smooth on my side.

[2013-09-18 08:22] nilsbore commented on #30
Strange, got the dependencies to install now somehow. Must have read the name wrong. Docking working like a charm now, good work!

[2013-09-18 08:22] #30 closed, assigned to nobody

[2013-09-20 15:43] hawesie opened #32 "What is the scitos_touch package?"
@cdondrup is this a specific thing or the start of a more general touch interface?

[2013-09-20 15:47] cdondrup commented on #32
I just wasn't sure on where to put nodes that are meant to be used mostly on the robots touch screen like this emergency button. If we have a common place for rqt plugins, then this can be moved there.

[2013-09-20 16:13] hawesie commented on #32
Sounds sensible. Let's keep the scitos-only stuff here, and I will make a strands_touch package elsewhere for our strands-specific parts.

[2013-09-20 16:13] #32 closed, assigned to nobody

[2013-09-26 15:16] RaresAmbrus opened #35 "Various scripts"
Hi all,

Over the past couple of weeks we've created a couple of scripts which might be useful to others as well:
- a script that reads from a text file a number of sentences and then speaks them out in random order and at random time intervals.
- a script that monitors the odometry and sends an email (from an email address taken in as parameter) to a set of email addresses (also taken as paramete

[2013-09-27 11:25] cdondrup commented on #35
Sounds interesting. Just out of curiosity, what do you use the first script for?
Just try to find the right  repositories for these and open a pull request. I think the second one could go in here somewhere. Not sure about the other two, though.

[2013-09-27 12:18] RaresAmbrus commented on #35
We used that once for a demo where the robot was patrolling, and every now and then it would say something like "Would you like some tea?" or "You're in my way" etc etc.

[2013-09-27 13:24] kunzel commented on #35
It sounds as if these scripts would better fit into strands_utils? Or if they are only related to the scitos robot platform maybe create a new package called scitos_utils?

[2013-10-10 18:15] bfalacerda opened #37 "charging.launch does not work"
The charging.launch file does not work, due to this line:
    `<remap from="/cmd_vel" to="/cmd_vel_mux/input/navigation"/>`

From what I understand this cmd_vel_mux topic is used so that we can have different priorities in terms of what is published to cmd_vel (e.g., rumblepad > move_base). However, I'm not sure where this remapping needs to be done, and whether it's worth using this at all. Is is

[2013-10-11 10:02] ToMadoRe opened #38 "Docking Calibration failed"
I get the following message after running actionlib axclient.py /chargingServer and sending the goal:

Feedback:
Progress: 100
Level: 0
Message: confused by not seeing the charging station

Result:
Message: Calibration failed.

Running scitos_docking visual_charging also gives me the warning:
 [ WARN] [1381485077.489739298]: Config file not set, calibration parameters will not be loaded.

Note: I

[2013-10-11 10:09] kunzel opened #39 "Charging behaviour failed but returns 'success'"
We observed that the charging behaviour failed, i.e. the robot was not on the docking station, but the response from the action server was nevertheless a 'success'. This happened on the real robot (spotted by @BFALacerda) and in  simulation (spotted by @kunzel).

As result the robot sits just there and waits until it is fully charged which will never happen.

[2013-10-11 10:12] gestom commented on #38
Ad parameters:
Try to start the charging service using the lauch file, i.e.: roslaunch scitos_docking charging.launch
The parameters should be saved to ~/.charging.yaml

Ad charging debug:
You can try to have a look at the image published at /charging/processedimage during the calibration process.
If the three o's are modified, then the charging works properly.

[2013-10-11 11:16] gestom commented on #39
Does it happen randomly or is the error repeatable ?

[2013-10-11 11:19] gestom commented on #39
@kunzel  Would you be able to set up simulator scene in a way that this error happens always ?

[2013-10-11 12:27] ghost commented on #38
I think we got the same error when we tried to calibrate it while it wasn't
ON the charging station.

However we pretty much always get the message calibration failed, while the
message on the bottom says succeeded. We just run with this and it seems to
be working just fine if we give the 'charge' command.

[2013-10-11 13:41] bfalacerda commented on #39
I think the real life error happened because it was 5.45, thus the robot was in the dark (I'm going to open a question about this). It basically tried and failed twice, outputting "aborted". The state machine basically retries the docking when that happens, and on the third time the action outputted "succeeded", even though it didn't succeed. The state machine then went to the CHARGING state

[2013-10-11 13:43] bfalacerda opened #40 "docking in the dark"
I'm pretty sure Bob failed to dock last night because it was dark and it couldn't see the robot station marker. For doing overnight runs we'll have to take care of this problem somehow

[2013-10-11 14:28] nilsbore commented on #40
![screenshot from 2013-10-11 16 21 59](https://f.cloud.github.com/assets/4670159/1315072/3ff07bc0-3281-11e3-978e-e57aaa25f467.png)
@gestom Can you make it work with the IR image instead?

[2013-10-11 14:32] gestom commented on #40
I have tried already. The problem is that it did not work well for longer distances.

[2013-10-11 16:56] gestom commented on #37
The main advantage of the mux is that it allows to take full manual control of the robot in case some of the components fail and send nonsensical commands to the /cmd_vel. Without the mux, the joystick commands will mix with the wrong ones resulting in erratic robot behaviour.

IMHO, that is quite essential.

[2013-10-11 17:19] cburbridge commented on #37
This means that some program might be controlling the robot, but being blocked by the command multiplexer. How does a program know whether its velocity commands will make it to the robot or not?

I can see that if the program fails badly and tries to drive the robot dangerously, you want to grab the joystick and block it. But you can do this with the motor_stop service. Granted, by multiplexing th

[2013-10-11 17:24] gestom commented on #38
You should specify the file, where to save/load the calibration results (see the charging.launch). Thus, you will avoid the need of performing calibration every time you restart ROS or the robot.
If you do not specify the file, the calibration will report failure even when everything else went OK.
I will modify the charging service messages and the autonomous patroler README to reflect that.

[2013-10-12 00:01] gestom commented on #37
at §1) If a control program needs to know if its commands are making it to the robot, then comparing the /odom feedback to the send commands is one of the possible ways of doing that. Still, it seems to me that such a case is quite rare. Could you give a real-world example when it's worth to rely on /cmd_vel rather than on /odometry feedback ?

ad §2) Does the motor_stop still allow to drive the r

[2013-10-12 13:07] cburbridge commented on #37
The way I see the system working is to have an overall state machine that schedules task on the robot. So far, we have a 'scheduler' that simply selects a waypoint and drives there, or chooses to charge the robot. In the future we  will have additional tasks, such as monitoring desks, looking for objects, finding a person, allowing teleop, etc. Tasks should always be preemptable - the scheduler wo

[2013-10-12 13:56] gestom commented on #37
I totally agree. All tasks should be preemtable. But we simply cannot assume perfect implementation of all the nodes publishing to /cmd_vel. The mux simply allows to prioritize the commands in case any of the nodes fail to be preempted. Moreover, the scheduler itself might instruct the mux to block the commands from preemted modules. Thus, the assumption of having all node implementation to be pre

[2013-10-12 16:19] bfalacerda commented on #37
I think that if we have a faulty non-preemptable node causing erratic behaviour in the robot, we don't really need the ability to teleop the robot around: we are pretty much in an unrecoverable situation, so it is a fatal fault and the run should be considered a failure. Thus, in my opinion, being able to stop the robot by pressing a button is enough.

The situations where I think being able to dr

[2013-10-12 16:31] bfalacerda commented on #40
I think that we can assume that the robot will always position itself in front of the charging station before starting the docking behaviour, thus if it works well for distances below 2 meters, that would be enough

[2013-10-12 21:33] gestom commented on #40
Hi, I have done some tests today and encountered the following problems:
1) IR and RGB cannot be streamed simultaneously. The openni driver decides if to stream RGB or IR based on the number of subscribers. If there is one or more subscriber to RGB, IR stream is switched off.
2) The images we get from the /head_xtion/ir/image_raw look much worse than the image from Nils. @nilsbore Nils, did you ob

[2013-10-12 21:48] gestom commented on #37
ad §1) According to @cburbridge comment 2.3, the faulty nodes can be automatically identified and terminated.
In such a case, the mux will prevent the faulty node to do too much harm before being identified and killed.

ad §2) Yeap, this approach works perfectly if all nodes implemeted correctly.

ad §3) Sorry, my mistake, I apologise for that. The mux has been created just after the RoAR and I di

[2013-10-12 22:01] bfalacerda commented on #37
My point was not changing the docking.launch file, we are still discussing on wether it's worth using the mux stuff or not. It is clearly a possible solution, just not the one I would prefer, but if more people prefer it, I'll be happy to go for it.

I just wanted to point out that one should make sure that other parts of the system that are affected by a new functionality are altered to reflect t

[2013-10-14 09:11] hawesie commented on #40
This raises tons of interesting issues.

For 2) I think we can get the controller to turn off RGB subscribers.

3) is not possible for us. We don't have control of the the lights where our charging station is, as was evidenced by the failure that caused this. AFAIK the lights are actually on, but at low level and probably not illuminating the sign,

4) is actually a cool idea. I expect the securit

[2013-10-14 09:12] hawesie commented on #37
Yes, agreed that we shouldn't introduce changes that affect the rest of the system without proper consultation. We should also be more alert for things like this when pull requests come in. This is the time when we should be checking for issues that affect us.

[2013-10-14 09:20] nilsbore commented on #40
@gestom 2) Yes, I received that image from either of the two topics on IR. However, I did it on my computer as the robot was patrolling. Also, the room was lit at that moment.

[2013-10-14 09:52] nilsbore commented on #40
I've checked it out again, and the quality of the image is really bad when you get as little as two meters away.
![far](https://f.cloud.github.com/assets/4670159/1324630/56fd9712-34b6-11e3-8b2c-0deac9849705.png)

[2013-10-14 12:05] marc-hanheide commented on #37
Agreed, it was unfortunate to make this change having such a big impact. It's not quite clear to me yet, how we will approve changes that effect several repositories at the same time. There is no "atomic action" We'd probably have to have work more with "stable tags" to define a working system configuration...

But I want to stress that arbitration/action selection is indeed a question that needs

[2013-10-14 14:58] hawesie commented on #37
Can we discuss this at the marathon Skype next week? I'd say this level of detail should either be on the strands_management issue board (as it's private and not tied to specific code) or on the strands-wp8 mailing list.

@marc-hanheide shouldn't the patrolling Jenkins test have picked this up?

[2013-10-14 15:25] marc-hanheide commented on #37
Yes, it should. But it's not working ATM for other reasons (i.e. not using the data centre correctly, because there was an issue of not being able to run it on another database bath that just got resolved), so didn't test it. I'll update the test as soon as I can, i.e. not today ;-)

[2013-10-14 15:29] hawesie commented on #37
Cool :)

[2013-10-14 19:18] gestom commented on #40
Buy something like this:
http://www.diy.com/nav/decor/lighting/light-bulbs/led_bulbs/Diall-LED-4-5W-MR16-GU5-3-12418964?skuId=12939670 + holder

Hook the wires to the power lines at the PTU platform and use the American screwdriver to fix it in place :
![ptu2](https://f.cloud.github.com/assets/4293593/1328577/98540a0e-3504-11e3-8646-f2a78c0f500b.jpg)
![ptu3](https://f.cloud.github.com/assets/42935

[2013-10-14 20:43] hawesie commented on #40
Super cool!

[2013-10-14 22:29] marc-hanheide commented on #40
great! @gestom have you checked that the light isn't interfering with the point cloud? It appears to be suspiciously close to the projector of the ASUS...

[2013-10-14 22:50] gestom commented on #40
The point cloud seems to be fine for now. However, we'll need to find a better way to fix the spotlight, so it does not block the ASUS accidentally. Moreover, the power line for the lights were supposed to be used for the stereocameras, so this is probably a temporary solution only.

[2013-10-15 04:45] arbeitor commented on #40
awesome!
one alternative to dock in the dark would be to use directly the point cloud from the asus (specially once the second camera is mounted on the chest) to detect the docking station pose directly in the point cloud. The detection should work reasonably well between 1 and 4 meters. This could be used to drive the robot close enough in front of the docking station to do the final docking usin

[2013-10-15 17:18] bfalacerda opened #42 "cancelling docking action"
When I try to preempt the docking 'charge' action, I get the following error (this message is continuously printed):

[ERROR] [1381856635.565067580]: To transition to a cancelled state, the goal must be in a pending, recalling, active, or preempting state, it is currently in state: 4

After the trying to preempt, 0 velocity commands keep being published in /cmd_vel

This also happens if you use th

[2013-10-15 18:09] gestom commented on #42
Hi Bruno, the pull request from two days ago is supposed to solve that.

[2013-10-15 18:14] bfalacerda commented on #42
ok cool, I'll give it a go then

[2013-10-15 19:05] bfalacerda commented on #42
Everything seems to be working except that the 0 velocity commands keep being published in /cmd_vel after the preemption. It's only after a success or failure that they stop being published.

I also forced some docking failures in simulation and it looks look it's always outputting the correct result.

[2013-10-15 19:25] gestom commented on #42
Hehe, one argument for the mux.

[2013-10-15 19:46] gestom commented on #42
OK, I have updated the code, that it should not publish to /cmd_vel after preemption. Could you give it a try ?

[2013-10-15 21:03] bfalacerda commented on #42
Sure, I'll tell you something tomorrow

[2013-10-16 13:10] bfalacerda commented on #42
works! Thanks

[2013-10-16 13:10] #42 closed, assigned to nobody

[2013-10-16 13:49] gestom commented on #42
thanks for trying it out

[2013-10-17 06:26] marc-hanheide opened #43 "Jenkins build failed"
http://marcs-pc:8080/job/catkin_make_strands_desktop_full/ws/catkin_ws/src/scitos_apps/scitos_docking/src/testPtuClient.cpp:2:43: fatal error: move_base_msgs/MoveBaseAction.h: No such file or directory
compilation terminated.

[2013-10-18 08:22] marc-hanheide commented on #43
@BFALacerda the jenkins build also failed today (see email). The key message is

[code]

Has anything changed in move_base_msgs/MoveBaseAction.h. I can't see anything. @gestom, could it also be some dependency bug again?

[2013-10-18 08:38] gestom commented on #43
Yeap, there seem to be two dependency bugs, one in scitos_docking and other in strands_hri

[2013-10-18 09:14] gestom commented on #43
We (with cdondrup) have corrected the bugs and have opened the pull requests at strands_hri and scitos_apps.

[2013-10-18 10:42] gestom commented on #40
Linda has been using the light for three days without any problems: http://www.youtube.com/watch?v=btYD1HJo8yA.

[2013-10-18 10:42] #40 closed, assigned to nobody

[2013-10-18 10:44] bfalacerda commented on #40
cool! Is there a way to control the light in our software?

[2013-10-18 10:50] gestom commented on #40
Yeap, the visual charging is controlling it via the mira bridge - thanks to @cburbridge who made the EBC dynamically reconfigurable parameters.
The
rosrun dynamic_reconfigure dynparam set /EBC 'Port0_12V_Enabled' True
rosrun dynamic_reconfigure dynparam set /EBC 'Port0_12V_Enabled' False
should turn on and off the light.

[2013-10-18 11:13] johnfolk commented on #40
eery but cool!

[2013-10-18 16:51] bfalacerda opened #45 "[scitos_docking] undock action returns aborted in simulation"
When I try to undock in simulation, the robot undocks, but the action finishes outcome aborted.

In the GUI I sometimes see the message: Message: afraid that it crashed,thoungh not everytime.

Didn't test this in the real robot, Bob is still on the sidelines recovering from injury

[2013-10-19 02:31] gestom commented on #45
Hi, is the error repeatable ?
Can you send me the output of "rosrun scitos_docking visual_charging_client undock 100"

[2013-10-19 10:33] bfalacerda commented on #45
Yes, whenever I try to use the undocking action in simulation this happens. I'll send you the output Monday

[2013-10-20 12:34] gestom commented on #45
The most likely reason is the required precision of the final adjusting step of the visual charging.
This might not be achievable in simulation. I have decreased the precision in the latest pull request,  check it out.

[2013-10-20 12:35] #37 closed, assigned to nobody

[2013-10-20 12:36] gestom commented on #24
Done.

[2013-10-20 12:36] #24 closed, assigned to Jailander

[2013-10-20 12:57] #38 closed, assigned to nobody

[2013-10-20 12:58] #43 closed, assigned to gestom

[2013-10-20 12:59] #39 closed, assigned to gestom

[2013-10-21 08:58] bfalacerda commented on #45
It continues giving failure. Here is the final lines of output:

Charging preparing for autonomous run, Progress: 96%
Charging preparing for autonomous run, Progress: 96%
Charging preparing for autonomous run, Progress: 96%
Charging preparing for autonomous run, Progress: 97%
Charging preparing for autonomous run, Progress: 97%
Charging preparing for autonomous run, Progress: 97%
Charging preparin

[2013-10-22 10:57] gestom commented on #45
After the robot leaves the charging station, it attempts to adjust its pose relatively to the station.
The last parameter of the adjust method in docking.cpp file at line 235 corresponds to the required positioning precision.
With a real robot, I could set the precision up to 0.001m. However, the dynamic model of the robot in the simulator probably differs from the real one, so the controller for

[2013-10-22 11:10] bfalacerda commented on #45
Is this parameter in the parameter server? I think that for the patrolling we can be less strict about the undocking precision, and it would be cool if we can configure it in the launch file.

[2013-10-22 11:12] gestom commented on #45
Did you try it ? The reason might be different.

[2013-10-22 11:36] bfalacerda commented on #45
Just tried and it didn't work anyway, the problem is in the first adjust step. I also realized that I was not using the right version of the undocking in the tests, here's the output I get with the version in your repo:

Charging preparing for autonomous run, Progress: 96%
Charging preparing for autonomous run, Progress: 96%
Charging preparing for autonomous run, Progress: 97%
Charging preparing f

[2013-10-29 16:01] gestom commented on #45
We had a look at it with @Jailander  and its caused by the fact that the PTU does not turn in simulation. Is the PTU actually working ?

[2013-10-29 18:06] kunzel commented on #45
@gestom , @Jailander, can you please update strands_morse and strands_utils to the latest versions? I've just renamed the topic name to '/ptu/cmd/' to reflect the topic name of the real robot. Then, it should work. (cf. also  https://github.com/strands-project/strands_morse/issues/55)

[2013-10-29 18:09] Jailander commented on #45
Great thank you, I will try it right now and let you know

[2013-10-30 09:58] Jailander commented on #45
Hi now with the PTU issue solved, I have tested undocking in simulation and it still fails but it is a completely different problem, @gestom and I will look into it today

[2013-10-30 17:15] Jailander commented on #45
Hi, the problem is now solved, it should work in simulation as it does in the robots, if it doesn't work on the first attempt try to recalibrate.

[2013-10-30 17:22] bfalacerda commented on #45
thank you, I will try it

[2013-11-20 12:50] OMARI1988 opened #51 "Error in roslaunch scitos_teleop"
Hi,

Leeds robot seems to be working finally, I did the whole setup from the beginning and now am facing this issue !

I get the following error when I start the joystick
ERROR: cannot launch node of type [joy/joy_node]: joy

any advice !
#

strands@strands-Mi956:~$ roslaunch scitos_teleop teleop_joystick.launch js:=/dev/input/js1
... logging to /home/strands/.ros/log/3547f00c-51e1-11e3-80fe-843a4

[2013-11-20 12:56] hawesie commented on #51
Is that all the output? I did have some problems with the joystick device not being readable (fix: `sudo chmod a+r /dev/input/js1`) and also the joystick device switching between js0 and js1, but both give different error output.

[2013-11-20 13:22] OMARI1988 commented on #51
I tried it and it didn't work, still same error.

strands@strands-Mi956:~$ roslaunch scitos_teleop teleop_joystick.launch
js:=/dev/input/js1
... logging to
/home/strands/.ros/log/7cc2ddde-51e6-11e3-85c1-843a4b7f0ffc/roslaunch-strands-Mi956-15234.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started rosl

[2013-11-20 13:34] bfalacerda commented on #51
I think you need to install joy. Follow 1.1 here:

http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick

Then, follow 1.2 to find where the joystick device is (typically /dev/input/js0 or /dev/input/js1), and run

[code]

where X is where you found the joystick

[2013-11-20 13:36] RaresAmbrus commented on #51
You can use the following on the command line to check whether your joystick is working (where X is the device number, probably 0 or 1):

[code]

[2013-11-20 14:37] OMARI1988 commented on #51
I get the following after the test

strands@strands-Mi956:~$ jstest /dev/ttyUSB0
Driver version is 0.8.0.
jstest is not fully compatible with your kernel. Unable to retrieve button
map!
Joystick (Unknown) has 2 axes and 2 buttons.
Testing ... (interrupt to exit)
Axes: X:3407924 Y:3407925 Buttons: A:off B:off B:off
jstest: error reading: Inappropriate ioctl for device
strands@strands-Mi956:~$

On W

[2013-11-20 14:39] OMARI1988 commented on #51
and for USB1 I get this

strands@strands-Mi956:~$ jstest /dev/ttyUSB1
Driver version is 0.8.0.
jstest is not fully compatible with your kernel. Unable to retrieve button
map!
Joystick (Unknown) has 2 axes and 2 buttons.
Testing ... (interrupt to exit)

but I can see it on jstest-gtk ! its js0

On Wed, Nov 20, 2013 at 2:37 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-20 14:44] OMARI1988 commented on #51
but when I test with js0 it works

jstest --normal /dev/input/js0

it updates the inputs when I press any button.

On Wed, Nov 20, 2013 at 2:39 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-20 14:48] RaresAmbrus commented on #51
Sorry, it was /dev/input/js0, not /dev/ttyUSB0. It seems like your joystick is working fine, there's no reason why the ros node wouldn't work; have you followed the tutorial from Bruno's link?

[2013-11-20 14:50] OMARI1988 commented on #51
can you send me the link please ?

On Wed, Nov 20, 2013 at 2:48 PM, RaresAmbrus notifications@github.comwrote:

[2013-11-20 15:40] OMARI1988 commented on #51
http://www.omgubuntu.co.uk/2013/07/dealing-with-xbox-controllers-in-ubuntu

This thing fixed the X mode but I have to keep this command running

sudo xboxdrv --silent

I tried the permanent solution suggested and it gives no such path or
directory ! any ideas

Muhannad

On Wed, Nov 20, 2013 at 2:50 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-20 23:14] OMARI1988 commented on #51
LUCIE is moving around using this command to set the driver for the
joystick (its working and if I find a better solution I will add it)

sudo xboxdrv --silent

And the previous error was there because ROS joy was not installed.

I will close this.

On Wed, Nov 20, 2013 at 3:40 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-20 23:21] #51 closed, assigned to nobody

[2013-11-21 11:52] OMARI1988 opened #52 "scitos_docking missing scitos_apps_msgs/ChargingAction.h"
Hi,

I can't build scitos_docking, it gives the following error !

/opt/strands/strands_catkin_ws/src/scitos_docking/src/CPtuClient.h:11:45: fatal error: scitos_apps_msgs/ChargingAction.h: No such file or directory
compilation terminated.

what I did yesterday is I removed scitos_docking folder from the src folder and the build succeeded, Lucie was working, I could build maps, save waypoints and m

[2013-11-21 13:18] gestom commented on #52
Hi, can you check if the file exist on your system?

[2013-11-21 13:27] OMARI1988 commented on #52
No its not there
On Nov 21, 2013 1:18 PM, "Tom Krajnik" notifications@github.com wrote:

[2013-11-21 13:35] gestom commented on #52
can you sent me a list of the files in your scitos_apps_msgs/action directory?

[2013-11-21 13:48] OMARI1988 commented on #52
I have two files there

strands@strands-Mi956:/opt/strands/strands_catkin_ws/src/scitos_apps/scitos_apps_msgs/action$
ls
Charging.action  RampClimbing.action

On Thu, Nov 21, 2013 at 1:35 PM, Tom Krajnik notifications@github.comwrote:

[2013-11-21 14:11] OMARI1988 commented on #52
and on github that file is not there anywhere in scitos_apps_msgs

https://github.com/hawesie/scitos_apps/tree/master/scitos_apps_msgs

On Thu, Nov 21, 2013 at 1:48 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-21 17:14] OMARI1988 commented on #52
Fixed.

in  /strands/strands_catkin_ws/src/scitos_apps/scitos_apps_msgs

I commented the RampClimbing.action in the CMakeLists.txt line 11 ==>
Charging.actions was build correctly !

add_action_files(
        DIRECTORY action
        FILES Charging.action
        # FILES RampClimbing.action

)

I will close this

On Thu, Nov 21, 2013 at 2:11 PM, Mohannad Al omari omari.1988@gmail.comwrote:

[2013-11-21 17:15] #52 closed, assigned to nobody

[2013-12-07 23:01] marc-hanheide opened #53 "dependencies in scitos-docking"
Referring to https://github.com/strands-project/strands_ci/issues/8 it seems again, that there is problem with the parallel build related to scitos-docking. Maybe @gestom can shed some light on this one? I believe the problem is that the dependencies in https://github.com/strands-project/scitos_apps/blob/master/scitos_docking/CMakeLists.txt are not correctly set for e.g. `add_library(CPtuClient sr

[2014-01-19 14:18] cdondrup opened #59 "Rename scitos_ramp directory to reflect the package name"
Since I just got slapped in the face by it, can the scitos_ramp directory please be named like the package it contains (scitos_ramp_climb)?

[2014-01-19 14:20] cdondrup commented on #59
The launch file contained in the package contains the same error I made. Will fix.

[2014-01-19 14:31] #59 closed, assigned to cdondrup

[2014-01-25 16:14] Jailander commented on #45
I'm going to close this issue since it was solved a long time ago

[2014-01-25 16:14] #45 closed, assigned to nobody

[2014-01-25 16:27] Jailander opened #61 "Docking sometimes takes a very long time in Simulation (only)"
Hi, Docking sometimes takes a very long time or doesn't work at all in simulation the robot keeps trying to reach a position right in front of the label but it cant reach it.

This happens only in simulation I have never seen this behaviour on Linda.

[2014-01-27 15:19] kunzel commented on #61
Is it because of the camera not being able to detect the imge? Or the accuracy the robot tries to reach the position? Or is it because the robot never gets the charging signal? Can you pin down the likely reason of the failure?  Maybe visualize both camera images, the normal and the filtered one and see whether this works fine for you?

[2014-01-27 15:34] gestom commented on #61
IMHO the problem is that the simulated camera has different parameters (namely the focal length) than a real one.
The result is that the tag size (in pixels) at the same distance from the camera is different for simulated and real camera. Therefore, the relative robot-tag position cannot be established properly in simulation.

[2014-01-27 15:43] kunzel commented on #61
Have you tried with different parametrizations of the simulated camera? I guess, curretly, it is the default config. See the following link for other options: http://www.openrobots.org/morse/doc/latest/user/sensors/video_camera.html

[2014-02-12 13:09] cburbridge opened #62 "[scitos_docking] depends on datacentre messages"
Sometimes scitos_docking won't build as it is trying to be built before the messages have finished being generated for the datacentre:
#### Running command: "make -j8 -l8" in "/home/chris/hydro-test/build"
####

[  0%] [  0%] [  0%] Built target actionlib_msgs_generate_messages_cpp
Built target std_msgs_generate_messages_py
Built target actionlib_msgs_generate_messages_py
[  0%] [  0%] [  0%] Buil

[2014-02-13 11:10] hawesie opened #63 "Add behaviour to check behind the robot for recovery in navigation"
(I think this is the right place to put this issue)

We want the robot to be able to reverse to get out of situations where it has got too close to some obstacle to turn around. This requires sensing behind the robot for safety. The proposal is to use the ptu to check behind the robot when reversing.

[2014-03-11 14:12] #53 closed, assigned to gestom

[2014-04-20 10:06] hawesie opened #73 "Node to mirror PTU or nav state in eyes"
In order to increase legibility of robot behaviour we should add a node which uses the robot's eyes to indicate where it's looking with the PTU and where it's trying to navigate towards.

[2014-04-20 12:05] cdondrup commented on #73
I have an idea on how to adapt the node I currently use to look at people to make that work. I'll try something.

[2014-04-20 19:28] cdondrup commented on #73
Ok, the looking at the nav goal works fine now. See: https://github.com/strands-project/strands_hri/pull/22
No idea for the ptu yet. If the place where the ptu is looking at would be published as a PoseStamped then we could just use the same node as for the navigation. I think that would be ideal.

[2014-04-24 16:38] cdondrup commented on #73
Created small node which extracts the last pose from a path so that the robot looks at its immediate goal instead of the overall navigation goal.

[2014-09-02 09:40] marc-hanheide opened #94 "preparation for first release"
This repository needs a little restructuring according to the plans outlined in https://github.com/strands-project/strands_management/wiki/software-distribution

Most importantly, this repository should only contain scitos-specific apps, su as msgs, mux, dashboard, docking, teleop. Others to be moved to new `strands_apps`

Once this is complete, the repository's dependencies should be checked, the

[2014-09-02 16:47] cdondrup commented on #94
Just my two cents about the packages inside this repository:
- `scitos_apps_msgs`: should be moved to the respective packages (teleop, charging, and rampclimb). This would require refactoring of the dependencies of other packages as well.
- `scitos_cmd_vel_mux`: just a collection of launch and config files. Can stay.
- `scitos_dashboard`: rather robot specific due to the service and topic names us

[2014-09-02 19:58] marc-hanheide commented on #94
this all makes perfect sense to me! Thanks @cdondrup for taking action.

[2014-09-03 16:40] cdondrup opened #97 "Pre-release clean-up"
In order to prepare the repository for release I would like to ask the authors of the different packages to clean up their CMakeLists.txt and package.xml files.

package.xml:
- Start with a sensible version number
- Give a short but helpful description
- Define authors and maintainers
- Use the MIT licence where possible
- Define all the build and run dependencies that are necessary to, well, buil

[2014-09-22 15:04] cdondrup commented on #97
Ramp_climb and door_pass won't be released in this repository. See #107

[2014-09-22 15:07] cdondrup commented on #62
Due to the release preparations everything is using the `${catkin_EXPORTED_TARGETS}` macro in the dependencies. Therefore this shouldn't happen any more.

[2014-09-22 15:07] #62 closed, assigned to gestom

[2014-09-22 16:33] marc-hanheide opened #108 "jenkins build failed with missing header"
see http://lcas.lincoln.ac.uk/jenkins/job/ros-hydro-scitos-docking_binarydeb_precise_amd64/2/console

relevant log:

[code]

Maybe dynamic_reconfigure missing?

[2014-09-23 00:30] #108 closed, assigned to cdondrup

[2014-09-23 15:15] cdondrup commented on #97
I will close this because the first version has been released. If something is still missing I will open separate issues.

[2014-09-23 15:15] #97 closed, assigned to nobody

[2014-09-23 15:15] cdondrup commented on #94
done

[2014-09-23 15:15] #94 closed, assigned to cdondrup

[2014-10-23 13:04] marc-hanheide opened #112 "opencv2 dependency not working on indigo"
we cannot release this on indigo yet as the `opencv2` dependency cannot be resolved. Please read http://wiki.ros.org/indigo/Migration#OpenCV and fix (by creating an `indigo-devel` branch I suppose).

[2014-10-23 13:06] marc-hanheide commented on #112
sorry, no extra branch needed, just depend on `cv_bridge` as it says in the guide.

[2014-10-23 13:08] cdondrup commented on #112
Will try

[2014-10-23 14:07] cdondrup commented on #112
@marc-hanheide, did that work? Can't really find where Jenkins is building the indigo jobs.

[2014-10-23 14:25] marc-hanheide commented on #112
https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-scitos_apps/ ?

[2014-10-23 14:34] cdondrup commented on #112
Ah, OK. Thought there was a release job for that as well. But since that reposted success, I'll close this issue.

[2014-10-23 14:34] #112 closed, assigned to cdondrup

[2014-10-23 14:38] marc-hanheide commented on #112
I was about to setup a release job, but then it failed to do that because of the missing dependency

[2014-10-23 14:39] cdondrup commented on #112
Fair enough. Please just open another issue or re-open this one if something else fails.

[2014-10-23 14:40] marc-hanheide commented on #112
we'll see soon

[2014-10-23 14:44] marc-hanheide commented on #112
https://github.com/strands-project/rosdistro/pull/66

[2014-10-23 15:37] marc-hanheide commented on #112
success!

[2014-10-23 15:38] cdondrup commented on #112
Almost too easy.

[2014-11-06 14:31] marc-hanheide opened #115 "add a meta package scitos_apps here to make installation easier"
and depend strands_metapackages on it

[2014-11-06 14:46] cdondrup commented on #115
Can do

[2014-11-06 16:00] cdondrup commented on #115
Also created metapackages for the other repositories I released. Waiting for them to build and then add them to the `metapackage` repo.

[2014-11-06 16:00] #115 closed, assigned to cdondrup

[2014-11-17 15:19] Jailander opened #121 "head teleop not found on released packages"
When launching strands robot I got this:

[code]

[2014-11-17 15:25] cdondrup commented on #121
Works for me (except for the error that it cannot find the rumblepad obviously):

[code]

[2014-11-17 15:27] Jailander commented on #121
are you using only released packages? weird :/

[2014-11-17 15:37] cdondrup commented on #121
Local issues. Will figure it our ourselves.

[2014-11-17 15:37] #121 closed, assigned to nobody

[2015-01-27 09:31] hawesie opened #128 "[scitos_docking] How to configure injected pose"
How do we configure the pose which is injected after successful docking? We have a map which we wish to reuse but with the docking station not at the origin.

[2015-02-25 11:08] hawesie commented on #128
@gestom any news on this?

[2015-03-06 15:54] Jailander opened #130 "add reset_barrier_stop service call to scitos teleop"
this is needed as the robot won't move after being stopped by the magnetic stripe until this service is called. @cdondrup

[2015-03-09 15:48] cdondrup commented on #63
This should be closed via the backtrack recovery behaviour I guess.

[2015-03-09 15:48] #63 closed, assigned to nobody

[2015-03-09 15:49] cdondrup commented on #35
Not sure if anything ever happened but given the age of this issue, I'll close it.

[2015-03-09 15:49] #35 closed, assigned to nobody

[2015-03-09 15:52] cdondrup commented on #5
Are there any news on this? Do we still need this? Is anyone but us supposed to teleop the robot? @marc-hanheide @hawesie

[2015-03-09 15:52] cdondrup commented on #23
Any news on this @cburbridge? Still relevant?

[2015-03-09 16:02] marc-hanheide commented on #5
I didn't miss it so far ...

[2015-03-09 16:10] #130 closed, assigned to cdondrup

[2015-03-09 17:24] cburbridge commented on #23
I have not made much use of the dashboard, so can't be sure, but I don't think I fixed this yet...

[2015-03-09 18:27] #5 closed, assigned to nobody

[2015-03-09 19:53] hawesie commented on #5
I still think this is a desirable feature, but just not for expert users near the robot. If security guards are ever remote controlling bob then this will need to be reopened.

[2015-03-18 13:39] gestom commented on #128
Should be solved now. To determine the position of the charging station in the map, dock to it (automatically) and ask for the /robot_pose. Note that the station and robot orietation oppose each other.

[2015-03-18 16:38] hawesie commented on #128
Does that mean the orientation from `/robot_pose` should be rotated 180 before being used for the parameter for the station?

[2015-03-18 16:40] gestom commented on #128
yeap, exactly, stationPhi = robot_pose.yaw+\pi

[2015-03-19 11:28] cdondrup opened #134 "[scitos_docking] fails to build on jenkins"
Now in the correct repo. Sorry. This is the output:

[code]

[2015-03-19 11:41] marc-hanheide commented on #134
https://github.com/strands-project/scitos_apps/pull/133 should fix it.

[2015-03-19 11:47] #134 closed, assigned to gestom

[2015-03-19 12:34] marc-hanheide commented on #128
it's now released, so I close this.

[2015-03-19 12:34] #128 closed, assigned to gestom

[2015-03-19 12:35] marc-hanheide commented on #134
built now!

[2015-03-30 18:29] bfalacerda opened #137 "[docking] less accuracy since firmware update"
Since we did the firmware update before the marathon, it looks like docking is failing a lot more. I guess it has something to do with the softer breaking with the new firmware.

Is anyone else experiencing this?

[2015-03-30 18:32] nilsbore commented on #137
We haven't really tested docking with new drivers yet since we've been using the old ones. I'll run a few tests tomorrow.

[2015-03-31 16:14] nilsbore commented on #137
I ran it a couple of times and needed some retries before succeeding. This is more or less consistent with what I've observed before. Though it seems like it's driving with a slightly lower force than it did before. Maybe that can cause it to not make it all the way up the charger?

[2015-03-31 16:21] gestom commented on #137
I will have a look at it. Could you send me some statistics about the failures (let's say from 100 docking attempts - both before and after the firmware upgrade) + logs from the charging action server's feedback ?

[2015-03-31 17:04] bfalacerda commented on #137
is this feedback saved anywhere?

[2015-04-01 10:03] gestom commented on #137
It should be in the logs.

[2015-04-01 10:26] bfalacerda commented on #137
?
Please be more specific. If you mean the normal ROS logs, we dont save them, I doubt we'll have any data from pre firmware update

[2015-04-01 14:08] gestom commented on #137
The docking station's action server feedback is also reported through ROS_INFO and ROS_DEBUG, which goes in the ROS logs, no?

[2015-04-01 14:12] gestom commented on #137
Anyway, I will be perfectly willing to have a look at the issue, because the charging is quite important for the deployment, but solving that makes sense only if both AAF and G4S robots have the same firmware version. Changing the charging code to conform with the new firmware could actually screw the AAF robot's self-recharging ability. Anyway, can you quantify the percentage of unsuccessfull dok

[2015-04-01 14:51] bfalacerda commented on #137
Here's a link to the .ros folder in bob. I dont think we have anything else, this should be just some post  firmware update data.

https://www.dropbox.com/s/o0cismo3bz6yqmr/ros_logs.tar.gz?dl=0

I can't really quantify anything else, as I said it _looks_ like docking is failing more, but this just comes from me noticing fails more often.

I wasn't aware that we were not using the latest firmware f

[2015-04-07 15:59] bfalacerda commented on #137
after some more testing today, I think this was mainly caused by the rest of the navigation pipeline not working properly, and not due to lack of accuracy on docking itself, so I'll close

"Fixed" by https://github.com/strands-project/strands_navigation/pull/216

[2015-04-07 15:59] #137 closed, assigned to nobody

[2015-04-30 10:58] cdondrup opened #138 "[scitos_docking] Add positionUpdate parameter to launch file"
Has to be added in movebase and navigation launch file as well.

[2015-04-30 11:04] gestom commented on #138
I would make it true dy default in the docking itself.

[2015-04-30 12:06] cdondrup commented on #138
Not having it in the launch file still means that we cannot really configure it properly. Simply adding it to the launch files would be fine for me. Can set the default to true in the launch file then.

[2015-05-15 09:20] #138 closed, assigned to nobody

[2015-05-21 09:33] marc-hanheide opened #140 "[scitos_docking] wasting a lot of CPU time"
because `scitos_docking` is always subscribed to many topics (https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_docking/src/scitos_docking/docking.cpp#L745-L754) and actually even does quite some processing in the callbacks (e.g. https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_docking/src/scitos_docking/docking.cpp#L268 and https://github.com/strands-pro

[2015-05-22 10:02] #140 closed, assigned to gestom

[2015-05-26 12:22] gestom commented on #140
The docking is not supposed to do any image processing if in the IDLE state:https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_docking/src/scitos_docking/docking.cpp#L306. Moreover, the main loop has a 30 ms sleep inside, so the callbacks cannot be triggered that often. As far as I remember, I have checked the CPU whenever making changes to it and it was always below 1% unless

[2015-05-26 13:10] marc-hanheide commented on #140
It was in fact not using as much CPU as when it was active. There were just several threads, each consuming about 12-20%. I'd blame this on image transport that processes the images internally. Also it was causing a lot of unnecessary network traffic. I say one should also unsubscribe from everything that's not needed whenever possible to minimise the ram and CPU footprint.

[2015-05-26 13:12] gestom commented on #140
OK

[2015-08-05 15:26] ToMadoRe opened #146 "using scitos_docking with openni2"
Using openni2, the topic head_xtion/rgb/image_mono didn't work for me, but head_xtion/rgb/image_raw fixed it.
https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_docking/src/scitos_docking/docking.cpp#L760

[2015-08-05 15:55] cburbridge commented on #146
On Bob I'm using the latest released version of scitos_docking, and it works fine with openni2_launch...

[2015-08-05 19:42] ToMadoRe commented on #146
The topic is listed, but `rostopic hz head_xtion/rgb/image_mono` doesn't return anything.

[2015-08-06 08:26] cburbridge commented on #146
Did you launch openni as in https://github.com/strands-project/strands_systems/issues/113 ? Could it be related to having debayer_processing:=true?

[2015-08-06 08:58] ToMadoRe commented on #146
no, I didn't. Maybe that's why. I just started it with 'roslaunch openni2_launch openni2.launch depth_registration:=true'

[2015-08-06 09:14] cburbridge commented on #146
I think we should try to fix things as you did to avoid having to start with debayering, since it should not be needed. At the review we put it on to get some extra topics for some component, but I don't think it was charging..

[2015-08-06 11:15] cdondrup commented on #146
@gestom is currently on holiday so there is no way of knowing if using a colour image is somehow detrimental to the circle detector. I'll ping him when he is back.

[2015-08-29 12:36] cdondrup opened #148 "ptu action server assume too high speed when set to 0"
When the tile or pan speed are left at 0 the PTU action server seems to assume a high velocity which the motors cannot reach. Therefore the PTU miscalibrates.

Also, it might be nice to enforce limits: tilt 43 - -43 and pan 180 - -180.

[2015-08-29 19:49] cburbridge commented on #148
The maximum/default velocities can be capped with parameters:
https://github.com/strands-project/scitos_apps/blob/hydro-devel/scitos_ptu/scripts/flir_ptu_action_server.py#L20
but it looks like they are only obeyed if there is no velocity given. These parameters should be renamed or made to work as their names suggest.
The limits will be an easy and sensible addition, and should be parameters too.

[2016-04-15 10:48] hawesie opened #152 "scitos_docking with two stations"
For our TSC deployment we are going to have two docking stations. Does this work with the calibration or does the node need updating to distinguish between multiple docking stations? @Jailander @gestom

[2016-04-15 11:02] Jailander commented on #152
Good question, I don't think this has been implemented yet, I can take a look to make it possible unless @gestom see this before I take a look and comes with a suggestion, it might mean running two instances of scitos visual docking though.
_Also_ apart from the calibration you also need these two things to consider:
- Make sure that scitos_docking is launched with the **positionUpdate** parameter

[2016-04-15 11:28] hawesie commented on #152
The two instances make sense as long as everything can be namespaced properly. Good idea.

[2016-04-17 14:30] Jailander commented on #152
@hawesie after taking a look at the code, I think the easiest and best solution would be to make sure that the calibration works with both charging stations, this shouldn't be too hard as long as there aren't big differences in relative positioning of the label and the station between both stations. Do you think this is feasible?

If not namespacing everything is also possible but it would be hass

[2016-04-17 19:30] hawesie commented on #152
So pretend it's the same station twice? That feels risky, but if you think it will be ok, then we can try it. I would like to test all this in simulation this week, but I can't get the docking to work in simuation: https://github.com/strands-project/strands_morse/issues/158. Any chance you could take a look at this and then we can work together on the double charging stations?

[2016-04-17 20:11] Jailander commented on #152
Yes I have tried it in Linda today and it works reasonably ok, it will need more testing though, in simulation I saw the issue will take a look at it tomorrow morning but I think could be related to some difference between the cameras parameters in simultation and in the robots.

I'll try to identify which ones are the problematic ones

[2016-04-18 10:19] hawesie commented on #152
Great, thanks.

[2016-04-18 17:02] hawesie commented on #152
Having seen the simulation PR, I'm more nervous. How exact do the similarities need to be for this to work? Can we make that work in reality?

[2016-04-18 17:10] Jailander commented on #152
Not very can't give you an exact number, you have enough leg room. I have tested it using two labels places at the same distance from the floor and moving the charging station from one to the other label placing it by hand (carefully but still by hand).

My only concern is that in Linda we never installed the rubber protections over the charging station plates in this case it could not work.

[2016-04-19 11:46] Jailander commented on #152
Hi @hawesie I have done this test to test how well scitos docking would work on this situation:
- I placed the robot manually as centred as possible on the charging station with the camera facing the wall.
- then I placed the label in the centre of the image and calibrated.
- I tried docking and undocking moving the label moving the label +/- 5cm on both axis 20 times and it was successful.

My on

[2016-04-19 12:57] gestom commented on #152
Hi, sorry for the late reply, but I was off-the-grid the last days. Since we have a new version of the circle detector, which can encode IDs in the circles, we could simply encode the station ID in the physical tag. The charging would then read the appropriate station ID when (un)-docking and read station-specific parameters. I can code it, but it's kind of hard to test until i come back from US.

[2016-04-19 13:00] Jailander commented on #152
Yes I thought so, but didn't want to commit to do it without you, I think for now we can use this not ideal solution and when you are back (which will be before the deployment anyway @hawesie ) we can work on it.

[2016-04-19 15:56] hawesie commented on #152
We will install the nav stuff from May 2nd I guess. Can you do it by then? If so, awesome.

[2016-04-28 15:43] bfalacerda opened #153 "very low speeds with undocking"
I have calibrated the docking, and betty docks normally. However, when i tell her to undock, it seems to start with normal negative speeds, but then it gets veryc close to zero and the robot doesn't move anymore. here is the firt few published velocities:

[code]

It keeps publishing these very slow speeds afterwards.

[2016-04-28 19:34] cdondrup commented on #153
Maybe the obstacle detection?

[2016-04-28 20:20] gestom commented on #153
Probably obstacle detection as pointed out by @cdondrup . Can you send a rosbag with the head camera topics ?

[2016-04-28 20:21] Jailander commented on #153
I think Betty might be having issues with the canera topics because of this and some other issues with the calibration but I guess @gestom will know better

[2016-04-28 20:25] bfalacerda commented on #153
will send the rosbags tmrw. She's able to dock though. Is there any calibration we can run for the head cam? We did have to repare her head cam halo, so it might not be exactly the same as before

[2016-04-29 11:15] bfalacerda commented on #153
@gestom here is a successful dock and an unsuccessful undock:
https://www.dropbox.com/s/wi0mzp4z2mcj3j6/dock.zip?dl=0
https://www.dropbox.com/s/qsi2lqs2nt92rei/undock.zip?dl=0

[2016-04-29 11:16] bfalacerda commented on #153
also, there are some network issues and the rate of the  head cam on betty is reduced:

[code]

[2016-04-29 18:24] gestom commented on #153
@bfalacerda:  My zip version complaints that the files are incomplete, can you check ?

[2016-04-29 18:55] bfalacerda commented on #153
yeah, there was something wrong with them. Please try again

[2016-04-29 21:09] gestom commented on #153
Originally, the depth image data encoding was UINT16, now it's FLOAT32. This was not reflected when calculating obstacle distance during undocking. Should be solved in https://github.com/strands-project/scitos_apps/pull/154.

[2016-04-30 12:00] cdondrup commented on #153
It still works on Linda using the new openni2 launch files though. Are we sure this is not just a Betty issue?

[2016-05-03 13:24] #153 closed, assigned to nobody

[2016-05-06 16:49] bfalacerda opened #155 "docking timeout on top of the station"
This has happened to us more than once, and then when we call topo nav again, it starts trying to use move_base, which of course doesn't work, and the system enters a deadlock pretty much.

@gestom, could you make sure the robot backtracks when the docking action server timesout?

[2016-05-06 17:17] gestom commented on #155
How come that the recovery behaviour does not solve that problem ?

[2016-05-06 17:23] bfalacerda commented on #155
For some reason move_base doesnt fail, it just published low speeds.

[2016-05-07 11:02] gestom commented on #152
Unfortunately, encoding the ID in the circles work only on short distances and is kind of ugly. I tried a different scheme and it seems that we could distinguish between four stations: https://github.com/gestom/scitos_apps/tree/hydro-devel/scitos_docking/doc.  I wil try to finish and test it by today.

[2016-05-07 17:34] gestom commented on #152
Seems to work OK: https://github.com/strands-project/scitos_apps/pull/156

[2016-05-13 21:46] hawesie commented on #155
We just saw this again. The robot tried to dock twice then gave up whilst on the station but not charging (and therefore not at the ChargingPoint node). The recovery behaviour isn't really designed to get the robot off the station (although it will eventually), so please could the robot undock before giving up?

[code]

[2016-05-24 09:34] marc-hanheide commented on #155
@gestom told me he's on it.

[2016-06-06 18:23] bfalacerda commented on #155
this seems to be happening in the deployment, @gestom can you make sure the robot always backtracks before docking stops?

[2016-06-06 18:25] hawesie commented on #155
This really is a show-stopper for us.

[2016-06-07 11:36] gestom commented on #155
I am currently testing the fixed version on Linda. However, do you have any rosbags that show how it actually happens ? Does Betty's station differ from the other ones ?

[2016-06-07 16:42] gestom commented on #155
Should be solved now: https://github.com/strands-project/scitos_apps/pull/157

[2016-06-10 16:04] marc-hanheide commented on #155
Is it?

[2016-06-10 16:14] Jailander commented on #155
Yes, that pull request makes the robot move backwards when the robot didn't dock before timeout, the current problems with the docking (and everything else using the head camera) are related to the camera framerate.

[2016-06-10 16:18] #155 closed, assigned to nobody

[2016-09-30 13:45] bfalacerda commented on #146
I'm reviving this issue because I just had the same problem trying to dock and failing, and wasnt aware that we needed to run with `debayer_processing:=true`. Is this really needed, or can we change  docking to look at `head_xtion/rgb/image_raw` @gestom ?

[2016-10-10 12:36] PDuckworth opened #159 "calibration issues"
I try to dock, it says "not calibrated", I try to calibrate, it says "no ros params on server".

![screenshot from 2016-10-10 12 41 10](https://cloud.githubusercontent.com/assets/5286841/19236290/73651692-8eee-11e6-851e-71324a70720b.png)

![screenshot from 2016-10-10 12 41 19](https://cloud.githubusercontent.com/assets/5286841/19236295/768e7f34-8eee-11e6-978f-caed4a5a1854.png)

Any suggestions?

[2016-10-10 13:40] PDuckworth commented on #159
I seem to have `/Charging/station_2/...` and `Charging/station_3/...` ros params. But not station 1.

![selection_013](https://cloud.githubusercontent.com/assets/5286841/19238001/66b774f4-8ef7-11e6-8d03-eb1bfbb996b0.png)

@gestom any idea what's happened here?

EDIT: I remove all these params, re-run the calibration and it creates  `/Charging/station_2/...` params./

[2016-11-02 09:39] heuristicus opened #160 "Calibration returns success even if station ID cannot be determined"
[This](https://github.com/strands-project/scitos_apps/blob/b1486201aad72db120f73675577e398c1165e4af/scitos_docking/src/scitos_docking/CChargingActions.cpp#L314-L317) if statement produces an error message, and seems to result in failure of calibration. However, the result in the graphical client indicates that the calibration was successful.

[2017-01-02 21:47] #23 closed, assigned to nobody

[2021-08-04 15:03] hawesie opened #166 "Split repo into STRANDS vs scitos generic"
I am in the process of setting up parts of the scitos stack on a scitos X3. This doesn't have all the things the STRANDS Scitos A5/G5 has, therefore I only need some of the packages from this repo. This led me to consider that we should split this into `scitos_apps` that work for all scitos robots, and `strands_scitos_apps` that are specific to the STRANDS robots. I think the generic parts would b

[2021-08-05 09:41] marc-hanheide commented on #166
Thanks @hawesie did you consider moving those packages into `scitos_drivers` repo rather than creating yet another repo? To me, that would probably make most sense.

[2021-08-05 10:10] hawesie commented on #166
That's a fantastic idea. Shall I go ahead and do that?

[2021-08-05 10:16] marc-hanheide commented on #166
Please do! Remember to ideally transfer with git history and updating the version. Indeed, the new version of all packages in the `scitos_drivers` must be the larger of the two sets of packages going in there, to ensure the update processes for packages all work. Bit annoying, but shouldn’t be a problem.

[2021-08-05 10:16] marc-hanheide commented on #166
Please do! Remember to ideally transfer with git history and updating the version. Indeed, the new version of all packages in the `scitos_drivers` must be the larger of the two sets of packages going in there, to ensure the update processes for packages all work. Bit annoying, but shouldn’t be a problem.

[2021-08-05 10:23] hawesie commented on #166
Gotcha.